{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="gallery">
        {{ content }}

        {# //img1 #}
        <a href="{{ base_url }}/image/flower.jpg" target="_blank">
            <picture class = "image">
                <source media="(min-width: 767px)" srcset="{{ base_url }}/image/flower.jpg?w=375&h=275&crop-to-fit&?q=60">
                <img src="{{ base_url }}/image/flower.jpg?w=668&h=275&crop-to-fit&?q=60" alt="A flower">
            </picture>
        </a>
        {# //img2 #}
        <a href="{{ base_url }}/image/banana.jpeg" target="_blank">
            <picture class = "image">
                <source media="(min-width: 767px)" srcset="{{ base_url }}/image/banana.jpeg?w=375&h=275&crop-to-fit&?q=60">
                <img src="{{ base_url }}/image/banana.jpeg?w=668&h=275&crop-to-fit&?q=60" alt="bananas">
            </picture>
        </a>
        {# //img3 #}
        <a href="{{ base_url }}/image/hand.jpeg" target="_blank">
            <picture class = "image">
                <source media="(min-width: 767px)" srcset="{{ base_url }}/image/hand.jpeg?w=375&h=275&crop-to-fit&?q=60">
                <img src="{{ base_url }}/image/hand.jpeg?w=668&h=275&crop-to-fit&?q=60" alt="A hand">
            </picture>
        </a>
        {# //img4 #}
        <a href="{{ base_url }}/image/hand2.jpeg" target="_blank">
            <picture class = "image">
                <source media="(min-width: 767px)" srcset="{{ base_url }}/image/hand2.jpeg?w=375&h=275&crop-to-fit&?q=60">
                <img src="{{ base_url }}/image/hand2.jpeg?w=668&h=275&crop-to-fit&?q=60" alt="A second hand">
            </picture>
        </a>
        {# //img5 #}
        <a href="{{ base_url }}/image/lemons.jpeg" target="_blank">
            <picture class = "image">
                <source media="(min-width: 767px)" srcset="{{ base_url }}/image/lemons.jpeg?w=375&h=275&crop-to-fit&?q=60">
                <img src="{{ base_url }}/image/lemons.jpeg?w=668&h=275&crop-to-fit&?q=60" alt="A flower">
            </picture>
        </a>
        {# //img6 #}
        <a href="{{ base_url }}/image/statue.jpeg" target="_blank">
            <picture class = "image">
                <source media="(min-width: 767px)" srcset="{{ base_url }}/image/statue.jpeg?w=375&h=275&crop-to-fit&?q=60">
                <img src="{{ base_url }}/image/statue.jpeg?w=668&h=275&crop-to-fit&?q=60" alt="A statue">
            </picture>
        </a>
    </div>

    <div class="embed-container">
        <iframe src="https://www.youtube.com/embed/sW10W0Wcwpw" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class ="footer2">
    {% include 'incl/footer.twig' %}
    </div>
</body>

</html>